:root{
  --alice-blue-1: hsl(216, 38%, 95%);
  --carolina-blue: hsl(204, 91%, 53%);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);


}
.containerC {
    width: 100%;
    will-change: contents;
    height: 90vh;
    opacity:0;
    transform-style: preserve-3d;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.7s;
    margin-bottom:0 ;
    border-top:1px solid gray;
    margin-top: 100px;
    margin-bottom:100px ;
    @media(max-width:567px){
      margin-bottom:400px;
    }
  }
  .contact-page{
    width: 100%;
  

    .text-zone{
  
        width:80%;
        height:40%;
        vertical-align: middle;
        display:table-cell;
        max-height:90%;
         @media(max-width:567px){
          width: 90%;
         }
        h1{
            font-size:33px;
            font-family:'Times New Roman', Times, serif;
            font-weight: 400;
            position: relative;
            display:flex;
            margin:40px 80px;
            
            .father{
              padding-left: 30px;
              @media(max-width:567px){
                font-size: 22px;
                padding-left: 3px;
               }
            }
  
            .father:hover{
                cursor: pointer;
                color:rgb(255 199 39) ;
                animation: fadeIn 1s forwards ;
              
              }
        
        }
        p{
            font-size:15px;
            font-family:sans-serif;
            font-weight: 100;
            min-width:fit-content;
            animation:pulse 1.4s;
            line-height:20px;
            margin:30px 100px;
            @media(max-width:567px){
              font-size: 12px;
              margin:25px;
             }
        }
    }
    .contact-form {
        width: auto;
        margin-top: 0px;
        margin-left:30px;
        display:flex;
        gap:20px;
         @media(max-width:567px){
          flex-direction:column;

        }
          
        }

        .additional{
          display:flex;
          flex:1;
          flex-direction:column;
          justify-content: space-between;
          align-items: center;
         
          .call-us{
            display:flex;
            justify-content:space-between;
            flex-direction:column;
            gap:30px;
            padding:10px;
            margin-top:30px;
            font-size:13px;
            margin-left:50px;
            @media(max-width:567px){
              margin-left:10px;
            }
          .anchor{
            padding:3px;
            background:rgb(255 199 39);
   
            }
            strong{
             font-weight:800;
             span{
              color:#333;
              font-weight:500;
             }
            }
         }
          .social-link{
            display:flex;
            justify-content: space-between;
            align-items:center;
            padding:20px;
            gap:20px;
            .social{
              .linkt{
                color:#0088CC;
                font-size:25px;
               
              }
              .linkf{
                color:#1877F2;
                font-size:25px;
               
              }
              .linkv{
                color:#25D366;
                font-size:25px;
                opacity:1;
               
              }
            }
          }
         
        }
        form{
           flex:2;
          ul {
            padding: 0;
            margin: 0px 10px;
            position: relative;
  
            li {
              padding: 0;
              margin: 0;
              list-style: none;
              margin-bottom: 10px;
              opacity: 0;
              overflow: hidden;
              display: block;
              clear: both;
              position: relative;
              animation: fadeInUp 2s 2s;
              animation-fill-mode: forwards;
            }
        
            li.half {
              width: 100%;
              margin-left: 0%;
              float: left;
              clear: none;
        
             
            }
            .flat {
              color: black;
              background: rgb(255 199 39);
              font-size: 21px;
              letter-spacing: 3px;
              text-decoration: none;
              padding: 8px 0px;
              border: 1px solid #ffd700;
              border-radius: 4px;
              text-transform: uppercase;
              text-align: center;
              &:hover{
                opacity:0.7;
                cursor:pointer;
              }
              
            }
            .call{
              .phone{
                font-size: 18px;
                letter-spacing: 3px;
                text-decoration: none;
                padding: 8px 10px;
                border: 1px solid #00ff3c;
                border-radius: 4px;
                text-transform: uppercase;
                float: right;
                .anchor{
                  color:#00ff3c;
                }
              }
             
            }
          
          }
        
          input[type='text'],
          input[type='email'] {
            width: 100%;
            border: 0;
            height: 50px;
            font-size: 16px;
            color: black;
            padding: 0 20px;
            box-sizing: border-box;
            border-bottom:2px solid rgb(255 199 39);
  
          }
        
          textarea {
            width: 100%;
            border:none;
            border-bottom:2px solid rgb(255 199 39);
            font-size: 16px;
            padding: 20px 20px;
            margin:0px;
            color: black;
            background:transparent;
  
          }
        
        }
     
        
      }
     


    

